/*FOOTER*/
.main
{
	height: calc(91vh - 70px);
}

.footer
{
	height: 70px;
   	text-align: center;
}

/*MENU*/
.head
{
	font-family: Constantia;
	font-size: medium;
	height: 40px;
}


/*LOGIN*/
.login
{
	text-align: center;
    border: solid 3px;
    background-color: white;
    width: 29.05%;
    font-size: large;
	margin-left: 35%;
}


/*DIV affiancati*/
#container
{
	width: 100%;	
}

#left
{
	float: left;
    width:50%;
}

#right
{
	float: right;
    width:50%;
}


.green
{
	color: #107040;
}