/*FOOTER*/
.main
{
	min-height: calc(100vh - 70px);
}

.push
{
	height: 10px;	
}

.footer
{
	height: 50px;
   	text-align: center;
}

/*MENU*/
.head
{
	font-family: Constantia;
	font-size: medium;
	height: 40px;
}

/*LOGIN*/
#login
{
	text-align: center;
    border: solid 3px;
    background-color: white;
    width: 20%;
    font-size: large;
	margin-left: 40%;
}



/*DIV affiancati*/
#container
{
	width: 100%;	
}

#left
{
	float: left;
    width:50%;
}

#right
{
	float: right;
    width:50%;
}