#Wed Jun 28 14:05:49 CEST 2017
SYS_HTTP_GET_FREQUENCY=1
SYS_BAN_PARSING_TRIALS_TIMEOUT=10
GAZZETTA_HOME_URL=http://www.gazzettaufficiale.it
PUBLICATIONS_HOME_URL=http://www.gazzettaufficiale.it/30giorni/contratti
PUBLICATIONS_HOME_PATTERN=/30giorni/contratti;
PUBLICATION_DETAIL_PATTERN=/gazzetta/contratti/caricaDettaglio;
PUBLICATION_BAN_DIVID_PATTERN=elenco_hp
PUBLICATION_NUMBER_PATTERN=n&#176; &nbsp;&nbsp;
BAN_DIVCLASS=dettaglio_atto_testo_pc
BAN_CD_ESTERNO_PATTERN=^[A-Z0-9]{11}$
BAN_CD_ESTERNO_LENGTH=11
BAN_CIG_PATTERN=^[A-Z0-9]{10}$
BAN_CIG_LENGTH=10
BAN_CIG_REGEX=(?i)cig
BAN_OBJ_PATTERN=breve descrizione dell'appalto o degli acquisti,oggetto dell'appalto,oggetto appalto,oggetto,sezione ii
BAN_OBJ_MAX_CHARS=350
BAN_OBJ_MIN_CHARS=150
BAN_OBJ_MAX_TITLE_CHARS=200
BAN_OBJ_MIN_TITLE_CHARS=150
BAN_OBJ_PADDING_LINES=1
BAN_OBJ_JUNK_HEAD=^\\s*(((\\d+)|(\\w|\\d+)[[)].:-_]\\s*)|([\".:,;+*-_/[)]]+\\s*)|(d?ell'\\s*appalto\\s*(-\\s*)?)|((l'\\s*)?oggetto\\s*(.|:|(((della\\s+gara)|(dell'\\s*appalto))\\s*(e'|[.:])))\\s*)|((estratto|bando)\\s+(di)?\\s*(bando\\s*di)?\\s*gar[.a]\\s*(-)*\\s*(per)?\\s*)|(((tipo\\s+di)|(informazioni\\s+sull'))\\s*appalto:)|(descrizione[.:]?\\s*(dell'\\s*appalto[.:]\\s*)?)|(dell(')?\\s*appalto[.:]\\s*)|(((entita')|(natura))\\s*+dell'\\s*appalt[.o]\\s*(denominazione)?[.:]\\s*)|(denominazione[.:]\\s*)|((\\d*([.]\\d*)?))|(\\d*[.]?\\d*))
BAN_OBJ_JUNK_BODY=(appalto\\s+\\d+\\/\\d+\\s*)|(cig\\s*\\d+\\w*[.]?\\s*)|(sezione\\s*(iii|3|ii|2|1|i)\\s*[.:]?)|(i[.])|(ii[.])|(iii[.])|(iv[.])|(v[.])|(vi[.])|(vii[.])|(viii[.])|(ix[.])|(x[.])|[[.1]|[.2]|[.3]|[.4]|[.5]|[.6]|[.7]|[.8]|[.9]]+[)]
VALIDATOR_TRAIN_PATH=src/main/java/resources/BandoTrain.arff
VALIDATOR_TEST_PATH=src/main/java/resources/BandoTest.arff