#Wed Jun 28 14:05:49 CEST 2017
GAZZETTA_HOME_URL=http://www.gazzettaufficiale.it
PUBLICATIONS_HOME_URL=http://www.gazzettaufficiale.it/30giorni/contratti
PUBLICATIONS_HOME_PATTERN=/30giorni/contratti;
PUBLICATION_DETAIL_PATTERN=/gazzetta/contratti/caricaDettaglio;
PUBLICATION_BAN_DIVID_PATTERN=elenco_hp
PUBLICATION_NUMBER_PATTERN=n&#176; &nbsp;&nbsp;
BAN_DIVCLASS=dettaglio_atto_testo_pc
BAN_CD_ESTERNO_PATTERN=^[A-Z0-9]{11}$
BAN_CD_ESTERNO_LENGTH=11
BAN_CIG_PATTERN=^[A-Z0-9]{10}$
BAN_CIG_LENGTH=10
BAN_OBJ_PATTERN=breve descrizione dell'appalto o degli acquisti,oggetto dell'appalto,oggetto,sezione ii
BAN_OBJ_MAX_CHARS=350
BAN_OBJ_MIN_CHARS=100
VALIDATOR_TRAIN_PATH=src/main/java/resources/BandoTrain.arff
VALIDATOR_TEST_PATH=src/main/java/resources/BandoTest.arff