#Wed Jun 28 14:05:49 CEST 2017
GAZZETTA_HOME_URL=http://www.gazzettaufficiale.it
PUBLICATIONS_HOME_PATTERN=/30giorni/contratti;
PUBLICATION_BAN_PATTERN=/gazzetta/contratti/caricaDettaglio;
PUBLICATION_NUMBER_PATTERN=n&#176; &nbsp;&nbsp;
BAN_CD_ESTERNO_PATTERN=^[A-Z0-9]{11}$
BAN_CD_ESTERNO_LENGTH=11
BAN_CIG_PATTERN=^[A-Z0-9]{10}$
BAN_CIG_LENGTH=10